@use "../mixins" as *;
@use "../functions" as *;

@mixin row-layout() {
	@include media-breakpoint-up('narrow') {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}

	[data-key="address"],
	[data-key="notes"] {
		width: 100%;
		flex-basis: 100%;
	}

	[data-key="specs"],
	[data-key="price"] {
		width: 50%;
		flex-basis: 50%;

		@include media-breakpoint-up('narrow') {
			width: unset;
			flex-basis: unset;
		}
		
	}
	[data-key="address"] {
		grid-column: span 3;
	}
	
	[data-key="days-on-market"],
	[data-key="size"] {
		grid-column: span 1;
	}

	[data-key="specs"] {
		grid-column: span 2;
	}

	[data-key="price"] {
		grid-column: span 2;
	}
	
	[data-key="notes"] {
		grid-column: span 3;
	}
}

.property-list {
	@include section-padding(); 
	
	&__table {
		display: block;
		
		thead {
			display: none;

			@include media-breakpoint-up('narrow') {
				display: block;
				font-weight: var(--font-weight-semibold);
				color: var(--color-secondary);
				
				@include dark-mode() {
					color: var(--global-inverse);
				}
			}
		}
		
		tbody {
			display: block;
			width: 100%;
			border-block: 1px solid rgba(0, 0, 0, 0.15);
			
			@include dark-mode() {
				border-block-color: rgba(255, 255, 255, 0.15);
			}
			
		}
		
		tr {
			display: flex;
			width: 100%;
			flex-direction: column;
			flex-wrap: wrap;
			padding-block: var(--spacing-md);
			padding-inline: var(--spacing-sm);
			@include row-layout();

			&:nth-of-type(odd) {
				background: rgba(0, 0, 0, 0.05);

				@include dark-mode() {
					background: rgba(255, 255, 255, 0.05);
				}
			}
			
			&[data-status="Archived"],
			&[data-status="Sold"],
			&[data-status="Under Offer"] {
				
				td:not([data-key="address"]),
				[data-key="address"] span:not(.badge) {
					opacity: 0.25;
					text-decoration: line-through;
				}
			}

			[data-key="address"] {
				padding-inline-end: var(--spacing-md);
				
				a, span {
					display: block;
				}
				
				a {
					font-weight: var(--font-weight-semibold);
				}
				
				span:not(.badge) {
					font-size: var(--font-size-sm);
				}
			}
			
			td {
				&[data-key="days-on-market"],
				&[data-key="size"],
				&[data-key="notes"] {
					display: flex;
					align-items: center;
					gap: 2px;
					
					&:before {
						content: attr(aria-label);
						font-size: var(--font-size-sm);
						
						@include media-breakpoint-up('narrow') {
						    display: none;
						} 
					}
				}

				&[data-key="days-on-market"],
				&[data-key="size"] {
					width: fit-content;
					flex-basis: fit-content;
				}
			}
		}
	}
	
	&__empty {
		border: 1px solid var(--color-warning);
		padding: var(--spacing-sm);
		text-align: center;
	}
} 