.property-list {
  padding-block: var(--spacing-lg);
}
@media (min-width: 768px) {
  .property-list {
    padding-block: var(--spacing-xl);
  }
}
.property-list__table {
  display: block;
  min-width: 360px;
}
.property-list__table thead {
  display: none;
}
@media (min-width: 1140px) {
  .property-list__table thead {
    display: block;
    font-weight: var(--font-weight-semibold);
    color: var(--color-secondary);
  }
  [data-theme=dark] .property-list__table thead {
    color: var(--global-inverse);
  }
}
.property-list__table thead tr {
  padding-block-end: var(--spacing-xs);
  background: transparent !important;
}
.property-list__table thead th {
  text-align: left;
  display: block;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-normal, 400);
  text-transform: uppercase;
  padding: 0;
}
.property-list__table thead th[title] {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: help;
}
.property-list__table tbody {
  display: block;
  width: 100%;
  width: 100%;
  border-block: 1px solid rgba(0, 0, 0, 0.15);
}
[data-theme=dark] .property-list__table tbody {
  border-block-color: rgba(255, 255, 255, 0.15);
}
.property-list__table tr {
  width: 100%;
  display: grid;
  padding-block: var(--spacing-md);
  padding-inline: var(--spacing-sm);
  grid-template-columns: repeat(6, 1fr);
  row-gap: var(--spacing-sm);
}
@media (min-width: 600px) {
  .property-list__table tr {
    grid-template-columns: repeat(12, 1fr);
  }
}
@media (min-width: 940px) {
  .property-list__table tr {
    row-gap: var(--spacing-xxs);
    column-gap: var(--spacing-xs);
  }
}
@media (min-width: 1140px) {
  .property-list__table tr {
    grid-template-columns: repeat(16, 1fr);
  }
}
@media (min-width: 1440px) {
  .property-list__table tr {
    column-gap: var(--spacing-sm);
  }
}
.property-list__table tr:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.05);
}
[data-theme=dark] .property-list__table tr:nth-of-type(odd) {
  background: rgba(255, 255, 255, 0.05);
}
.property-list__table tr[data-status=Archived] td:not([data-key=address]),
.property-list__table tr[data-status=Archived] [data-key=address] span:not(.badge), .property-list__table tr[data-status=Sold] td:not([data-key=address]),
.property-list__table tr[data-status=Sold] [data-key=address] span:not(.badge), .property-list__table tr[data-status="Under Offer"] td:not([data-key=address]),
.property-list__table tr[data-status="Under Offer"] [data-key=address] span:not(.badge) {
  opacity: 0.25;
  text-decoration: line-through;
}
.property-list__table tr td p {
  margin: 0;
}
.property-list__table tr td[aria-label]:before {
  content: attr(aria-label);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-normal, 400);
  text-transform: uppercase;
}
@media (min-width: 1140px) {
  .property-list__table tr td[aria-label]:before {
    display: none;
  }
}
.property-list__table tr th, .property-list__table tr td {
  display: block;
}
.property-list__table tr th[data-key=address], .property-list__table tr th[data-key=price], .property-list__table tr th[data-key=specs], .property-list__table tr th[data-key=notes], .property-list__table tr td[data-key=address], .property-list__table tr td[data-key=price], .property-list__table tr td[data-key=specs], .property-list__table tr td[data-key=notes] {
  grid-column: 1/-1;
}
.property-list__table tr th[data-key=address], .property-list__table tr td[data-key=address] {
  padding-inline-end: var(--spacing-md);
  order: -10;
}
@media (min-width: 600px) {
  .property-list__table tr th[data-key=address], .property-list__table tr td[data-key=address] {
    grid-column: span 7;
  }
}
@media (min-width: 940px) {
  .property-list__table tr th[data-key=address], .property-list__table tr td[data-key=address] {
    grid-column: span 6;
    grid-row: 1;
  }
}
@media (min-width: 1140px) {
  .property-list__table tr th[data-key=address], .property-list__table tr td[data-key=address] {
    grid-column: span 4;
  }
}
@media (min-width: 1440px) {
  .property-list__table tr th[data-key=address], .property-list__table tr td[data-key=address] {
    grid-column: span 5;
  }
}
.property-list__table tr th[data-key=address] .address:has(.badge[data-key=New]), .property-list__table tr td[data-key=address] .address:has(.badge[data-key=New]) {
  display: flex;
  column-gap: var(--spacing-xs);
  align-items: center;
  flex-wrap: wrap;
}
.property-list__table tr th[data-key=address] a, .property-list__table tr th[data-key=address] span, .property-list__table tr td[data-key=address] a, .property-list__table tr td[data-key=address] span {
  display: block;
}
.property-list__table tr th[data-key=address] a, .property-list__table tr td[data-key=address] a {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-md);
}
@media (min-width: 940px) {
  .property-list__table tr th[data-key=address] a, .property-list__table tr td[data-key=address] a {
    font-size: var(--font-size-base);
    margin-block-end: var(--spacing-xxs);
  }
}
.property-list__table tr th[data-key=address] span:not(.badge), .property-list__table tr td[data-key=address] span:not(.badge) {
  font-size: var(--font-size-sm);
  color: var(--body-color-muted);
  font-style: italic;
}
@media (min-width: 940px) {
  .property-list__table tr th[data-key=address] span:not(.badge), .property-list__table tr td[data-key=address] span:not(.badge) {
    font-size: var(--font-size-sm);
  }
}
.property-list__table tr th[data-key=price], .property-list__table tr th[data-key=days-on-market], .property-list__table tr th[data-key=size], .property-list__table tr td[data-key=price], .property-list__table tr td[data-key=days-on-market], .property-list__table tr td[data-key=size] {
  font-weight: var(--font-weight-semibold);
}
.property-list__table tr th[data-key=price], .property-list__table tr td[data-key=price] {
  color: var(--body-color-muted);
  grid-column: span 3;
}
@media (min-width: 600px) {
  .property-list__table tr th[data-key=price], .property-list__table tr td[data-key=price] {
    grid-column: span 5;
    text-align: right;
  }
}
@media (min-width: 940px) {
  .property-list__table tr th[data-key=price], .property-list__table tr td[data-key=price] {
    text-align: left;
    grid-column: span 6;
    grid-row: 2;
  }
}
@media (min-width: 1140px) {
  .property-list__table tr th[data-key=price], .property-list__table tr td[data-key=price] {
    grid-column: span 2;
    grid-row: 1;
    color: var(--body-color);
    font-weight: var(--font-weight-normal);
  }
  .property-list__table tr th[data-key=price]:is(td), .property-list__table tr td[data-key=price]:is(td) {
    font-size: var(--font-size-sm);
  }
}
@media (min-width: 1440px) {
  .property-list__table tr th[data-key=price], .property-list__table tr td[data-key=price] {
    grid-column: span 2;
  }
}
.property-list__table tr th[data-key=days-on-market], .property-list__table tr th[data-key=specs], .property-list__table tr th[data-key=size], .property-list__table tr td[data-key=days-on-market], .property-list__table tr td[data-key=specs], .property-list__table tr td[data-key=size] {
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
}
@media (min-width: 1140px) {
  .property-list__table tr th[data-key=days-on-market], .property-list__table tr th[data-key=specs], .property-list__table tr th[data-key=size], .property-list__table tr td[data-key=days-on-market], .property-list__table tr td[data-key=specs], .property-list__table tr td[data-key=size] {
    order: unset;
    align-items: flex-start;
  }
}
.property-list__table tr th[data-key=days-on-market], .property-list__table tr th[data-key=size], .property-list__table tr td[data-key=days-on-market], .property-list__table tr td[data-key=size] {
  grid-column: span 3;
}
@media (min-width: 600px) {
  .property-list__table tr th[data-key=days-on-market], .property-list__table tr th[data-key=size], .property-list__table tr td[data-key=days-on-market], .property-list__table tr td[data-key=size] {
    grid-column: span 3;
    grid-row: 2;
  }
}
@media (min-width: 768px) {
  .property-list__table tr th[data-key=days-on-market], .property-list__table tr th[data-key=size], .property-list__table tr td[data-key=days-on-market], .property-list__table tr td[data-key=size] {
    justify-content: flex-start;
  }
}
@media (min-width: 940px) {
  .property-list__table tr th[data-key=days-on-market], .property-list__table tr th[data-key=size], .property-list__table tr td[data-key=days-on-market], .property-list__table tr td[data-key=size] {
    grid-column: span 2;
    grid-row: 4;
    text-align: left;
  }
}
@media (min-width: 1140px) {
  .property-list__table tr th[data-key=days-on-market], .property-list__table tr th[data-key=size], .property-list__table tr td[data-key=days-on-market], .property-list__table tr td[data-key=size] {
    grid-column: span 1;
    grid-row: 1;
    font-weight: var(--font-weight-normal, 400);
  }
  .property-list__table tr th[data-key=days-on-market]:is(td), .property-list__table tr th[data-key=size]:is(td), .property-list__table tr td[data-key=days-on-market]:is(td), .property-list__table tr td[data-key=size]:is(td) {
    font-size: var(--font-size-sm);
  }
}
@media (min-width: 600px) {
  .property-list__table tr th[data-key=specs], .property-list__table tr td[data-key=specs] {
    grid-column: span 4;
    grid-row: 2;
  }
}
@media (min-width: 768px) {
  .property-list__table tr th[data-key=specs], .property-list__table tr td[data-key=specs] {
    grid-column: span 3;
  }
}
@media (min-width: 940px) {
  .property-list__table tr th[data-key=specs], .property-list__table tr td[data-key=specs] {
    grid-column: span 6;
    grid-row: 3;
    padding-block: var(--spacing-xs);
  }
}
@media (min-width: 1140px) {
  .property-list__table tr th[data-key=specs], .property-list__table tr td[data-key=specs] {
    grid-column: span 2;
    grid-row: 1;
    padding: 0;
  }
}
.property-list__table tr th[data-key=days-on-market], .property-list__table tr td[data-key=days-on-market] {
  justify-content: flex-end;
  grid-column: span 3;
}
.property-list__table tr th[data-key=days-on-market]:is(th), .property-list__table tr td[data-key=days-on-market]:is(th) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 600px) {
  .property-list__table tr th[data-key=days-on-market], .property-list__table tr td[data-key=days-on-market] {
    grid-column: -5/-1;
  }
}
@media (min-width: 768px) {
  .property-list__table tr th[data-key=days-on-market], .property-list__table tr td[data-key=days-on-market] {
    transform: translateY(-2em);
  }
}
@media (min-width: 940px) {
  .property-list__table tr th[data-key=days-on-market], .property-list__table tr td[data-key=days-on-market] {
    grid-row: 4;
    grid-column: span 2;
    justify-content: flex-start;
    transform: none;
  }
}
@media (min-width: 1140px) {
  .property-list__table tr th[data-key=days-on-market], .property-list__table tr td[data-key=days-on-market] {
    grid-row: 1;
    grid-column: span 1;
  }
}
@media (min-width: 940px) {
  .property-list__table tr th[data-key=notes], .property-list__table tr td[data-key=notes] {
    grid-row: span 6;
    grid-column: 7/-1;
  }
}
.property-list__table tr th[data-key=notes]:is(td), .property-list__table tr td[data-key=notes]:is(td) {
  font-size: var(--font-size-sm);
}
.property-list__table tr th[data-key=notes]:is(td) ul:not(:last-child), .property-list__table tr td[data-key=notes]:is(td) ul:not(:last-child) {
  padding-block-end: var(--spacing-sm);
}
@media (min-width: 940px) {
  .property-list__table tr th[data-key=notes]:is(td) ul:not(:last-child), .property-list__table tr td[data-key=notes]:is(td) ul:not(:last-child) {
    border-block-end: 1px solid #DDD;
    margin-block-end: var(--spacing-sm);
  }
}
@media (min-width: 1140px) {
  .property-list__table tr th[data-key=notes], .property-list__table tr td[data-key=notes] {
    grid-row: 1;
    grid-column: span 6;
  }
}
.property-list__empty {
  border: 1px solid var(--color-warning);
  padding: var(--spacing-sm);
  text-align: center;
}

/*# sourceMappingURL=PropertyList.razor.css.map */
