.property-specs {
	display: flex;
	gap: var(--spacing-md);

	span {
		display: flex;
		align-items: center;
		gap: 2px;
		
		&[title] {
			cursor: help;
		}

		svg {
			width: 1.25rem;
			
			path {
				fill: var(--global-inverse);
			}
		}
	}
}