@use "sass:map";
@use "sass:color";
@use "../Components/variables" as *;
@use "../Components/functions" as *;
@use "../Components/mixins" as *;

:root {	
	--header-height: 8rem;
	@include media-breakpoint-up('narrow') {
	    --header-height: 6rem;
	}
	 
	--width-wide: #{map.get($widths, 'wide')};
	--width-contained: #{map.get($widths, 'contained')};
	--width-narrow: #{map.get($widths, 'narrow')};
	--width-narrower: #{map.get($widths, 'narrower')};
	--width-small: #{map.get($widths, 'small')};
	
	--spacing-xxs: 0.25rem;
	/* Augmented fourth scale - 1.414 */
	--spacing-xs: 0.5rem;
	--spacing-sm: 0.707rem;
	--spacing-md: 1rem;
	--spacing-lg: 1.414rem;
	--spacing-xl: 2rem;
	--spacing-xxl: 2.827rem;

	--font-size-xs: 0.75rem;
	--font-size-sm: 0.875rem;
	--font-size-md: #{step-up(1)};
	--font-size-lg: #{step-up(2)};
	--font-size-xl: #{step-up(3)};
	--font-size-xxl: #{step-up(4)};
	--font-size-display: #{step-up(6)};

	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	--base-font-size: 1rem;
	--typescale: 1.2;
	
	@each $color, $value in $colors {
		--color-#{$color}: #{$value};
	}
	 
	--global-background: #FFF;
	--global-inverse: var(--color-dark);
	--body-color: var(--global-inverse);

	&[data-theme="dark"] {
		--global-background: #0d0f17;
		--global-inverse: #eafcff;
		--color-secondary: #{color.scale(map.get($colors, 'secondary'), $blackness: 30%)};
	}
}
 
html {
	font-size: var(--base-font-size);
	scroll-behavior: smooth;
	overflow-x: hidden;
	
	@media (prefers-reduced-motion: reduce) {
		scroll-behavior: unset;
	}
}

body {
	font-family: var(--font-family-body), sans-serif;
	line-height: 1.4;
	padding: 0;
	margin: 0;
	background: var(--global-background);
	color: var(--body-color);
	transition: all 0.3s ease-in-out;
}

main, section {
	scroll-margin-top: var(--header-height);
}

* {
	box-sizing: border-box;
}

[data-size] {
	width: 100%;
	display: block;
	container-name: layout-section;
	container-type: inline-size;
	padding-inline: calc((100cqw - var(--container-max-width)) / 2);
	@include pad-edges();

	> * {
		width: 100%;
	}
	
	&[data-size="full"] {
		--container-max-width: 100%;
	}

	@each $name, $size in $widths {
		&[data-size="#{$name}"] {
			--container-max-width: var(--width-#{$name});
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h2 {
	color: var(--color-secondary);			
	margin-block-end: var(--spacing-xs);
	
	@include dark-mode() {
		color: var(--global-inverse);
	}
}

ul, ol {
	margin: 0;
	margin-inline-start: 1rem;
	padding: 0;
}

a {
	color: darken(primary, 10%);
	@include link-underline-on-hover();
}

.badge {
	display: inline-block;
	width: fit-content;
	padding: var(--spacing-xxs) var(--spacing-xs);
	text-transform: uppercase;
	font-size: var(--font-size-xs);
	line-height: 1;
	border-radius: var(--spacing-sm); 
	
	&[data-key="Removed"] {
		background: var(--color-dark);
		color: contrast-color(var(--color-dark));
		
		@include dark-mode() {
			background: var(--color-secondary);
			color: contrast-color(var(--color-secondary));
		}
	}

	&[data-key="Under Offer"],
	&[data-key="Sold"] {
		background: var(--color-error);
		color: contrast-color(var(--color-error));
	}

	&[data-key="New"] {
		background: var(--color-accent);
		color: contrast-color(var(--color-accent));
	}
}