:root {
  --header-height: 8rem;
}
@media (min-width: 940px) {
  :root {
    --header-height: 6rem;
  }
}
:root {
  --width-wide: 1440px;
  --width-contained: 1140px;
  --width-narrow: 940px;
  --width-narrower: 768px;
  --width-small: 600px;
  --spacing-xxs: 0.25rem;
  /* Augmented fourth scale - 1.414 */
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.707rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.414rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 2.827rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: calc(1rem * pow(var(--typescale), 1));
  --font-size-lg: calc(1rem * pow(var(--typescale), 2));
  --font-size-xl: calc(1rem * pow(var(--typescale), 3));
  --font-size-xxl: calc(1rem * pow(var(--typescale), 4));
  --font-size-display: calc(1rem * pow(var(--typescale), 6));
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --base-font-size: 1rem;
  --typescale: 1.2;
  --color-primary: #00c1b1;
  --color-secondary: #262a70;
  --color-accent: #a82f63;
  --color-info: #009bc8;
  --color-warning: #f9c971;
  --color-success: #00d4a9;
  --color-error: #C22B00;
  --color-light: #EFD3A1;
  --color-dark: #0f0f2a;
  --color-white: #ffffff;
  --global-background: #FFF;
  --global-inverse: var(--color-dark);
  --body-color: var(--global-inverse);
  --body-color-muted: rgb(104.9960526316, 104.9960526316, 133.2039473684);
  --link-color: color-mix(in srgb, var(--color-primary) 90%, black);
}
:root[data-theme=dark] {
  --global-background: #0d0f17;
  --global-inverse: #eafcff;
  --color-secondary: rgb(38, 40.1837837838, 78.4);
}

html {
  font-size: var(--base-font-size);
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: unset;
  }
}

body {
  font-family: var(--font-family-body), sans-serif;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  background: var(--global-background);
  color: var(--body-color);
  transition: all 0.3s ease-in-out;
  min-height: 100dvh;
  border-bottom: 1rem solid var(--color-secondary);
}

main, section {
  scroll-margin-top: var(--header-height);
}

* {
  box-sizing: border-box;
}

[data-size] {
  width: 100%;
  display: block;
  container-name: layout-section;
  container-type: inline-size;
  padding-inline: calc((100cqw - var(--container-max-width)) / 2);
  border-inline: var(--spacing-lg) solid transparent;
  box-sizing: border-box;
}
[data-size] > * {
  width: 100%;
}
[data-size][data-size=full] {
  --container-max-width: 100%;
}
[data-size][data-size=wide] {
  --container-max-width: var(--width-wide);
}
[data-size][data-size=contained] {
  --container-max-width: var(--width-contained);
}
[data-size][data-size=narrow] {
  --container-max-width: var(--width-narrow);
}
[data-size][data-size=narrower] {
  --container-max-width: var(--width-narrower);
}
[data-size][data-size=small] {
  --container-max-width: var(--width-small);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  color: var(--color-secondary);
  margin-block-end: var(--spacing-xs);
}
[data-theme=dark] h2 {
  color: var(--global-inverse);
}

ul, ol {
  margin: 0;
  padding: 0;
  padding-inline-start: 1rem;
}

a {
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: currentColor;
  text-decoration-color: transparent;
  transition: all 0.2s ease;
}
a:hover, a:focus, a:active {
  text-decoration-color: currentColor;
}
a:has(> span) {
  text-decoration: none;
}
a:has(> span) > span:not(:has(svg)):not(:has(i)) {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: currentColor;
  transition: all 0.2s ease;
  text-decoration-color: transparent;
}
a:has(> span):hover > span:not(:has(svg)):not(:has(i)), a:has(> span):focus > span:not(:has(svg)):not(:has(i)), a:has(> span):active > span:not(:has(svg)):not(:has(i)) {
  text-decoration-color: currentColor;
}

dl {
  width: 100%;
  margin: 0;
}
dl span {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
}
dl dd {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-normal, 400);
  text-transform: uppercase;
  font-weight: var(--font-weight-semibold);
  margin: 0;
  grid-column: span 3;
  height: 1.15lh;
  display: flex;
  align-items: center;
}
dl dt {
  grid-column: span 4;
  font-size: var(--font-size-sm);
}

.badge {
  display: inline-block;
  width: fit-content;
  padding: var(--spacing-xxs) var(--spacing-xs);
  text-transform: uppercase;
  font-size: var(--font-size-xs);
  line-height: 1;
  border-radius: var(--spacing-sm);
}
.badge[data-key=Removed] {
  background: var(--color-dark);
  color: contrast-color(var(--color-dark));
}
[data-theme=dark] .badge[data-key=Removed] {
  background: var(--color-secondary);
  color: contrast-color(var(--color-secondary));
}
.badge[data-key="Under Offer"], .badge[data-key=Sold] {
  background: var(--color-error);
  color: contrast-color(var(--color-error));
}
.badge[data-key=New] {
  background: var(--color-accent);
  color: contrast-color(var(--color-accent));
}

.error-page {
  padding-block: var(--spacing-lg);
}
@media (min-width: 768px) {
  .error-page {
    padding-block: var(--spacing-xl);
  }
}

/*# sourceMappingURL=global.css.map */
