@use "../mixins" as *;

.site-header {
	background: var(--color-dark);
	color: contrast-color(var(--color-dark));
	display: flex; 
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;

	@include media-breakpoint-up('small') {
		background: var(--color-secondary);
		display: grid;
		grid-template-columns: repeat(4, 1fr); 
		grid-template-rows: repeat(2, 1fr);
	}
	 
	a {
		color: contrast-color(var(--color-secondary));
	}
	
	&__name {
		width: fit-content;
		padding-block: var(--spacing-md);
		grid-row: span 2;
		line-height: 1.2;
		
		span, strong {
			display: block;
		}
		
		span {
			font-weight: var(--font-weight-light);
		}
		
		strong {
			font-size: var(--font-size-lg);
			font-weight: var(--font-weight-bold);
			
			@include media-breakpoint-up('narrow') {
			    font-size: var(--font-size-xl);
			}
		}
	}
	
	.theme {
		display: contents;
		
		@include media-breakpoint-up('small') {
			grid-column: span 3;
			display: flex;
			justify-content: flex-end;
		}
	}
	
	::deep nav {
		grid-column: span 3;
		width: auto;
	}
	
}